<div class="addList-Details section-padding2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-12">
        <nav aria-label="breadcrumb">
          <h4 class="priceTittle pt-20 pb-20">Add a book</h4>
        </nav>
        <%= form_for @book, html: { class: 'listingDetails-Wrapper' } do |f| %>
          <%= render 'form', f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>