<% reset_password_link = "#{ENV['BASE_URL']}/reset_password?reset_token=#{@token}" %>

<p>We have received a password change request for your Zajel account.</p>
<p>If you did not ask to change your password, then you can ignore this email and your password will not be changed.</p>
<p>The link below will remain active for 6 hours.</p>
<p><%= link_to 'Change password', reset_password_link %></p>
