<div class="sliderArea heroAboutStyle plr ">
  <div class="slider-active">
    <div class="single-slider heroPadding d-flex align-items-center">
      <div class="container-fluid ">
        <div class="row justify-content-between align-items-center">
          <div class="col-xxl-6 col-xl-7 col-lg-5 col-md-12">
            <div class="heroCaption mb-50">
              <h1 class="tittle" data-animation="fadeInUp" data-delay="0.0s">We make buying-selling online easier</h1>
              <p class="pera" data-animation="fadeInUp" data-delay="0.3s">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
              <div class="btn-wrapper">
                <a href="login.html" class="cmn-btn04 mr-15 mb-10 wow fadeInLeft" data-wow-delay="0.3s">Sign up</a>
                <a href="#" class="browseBtn mb-10 wow fadeInLeft" data-wow-delay="0.3s">Browse ads <i class="las la-angle-right icon"></i></a>
              </div>
            </div>
            <!--? Count Down S t a r t -->
            <div class="countDown">
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
                  <div class="single mb-24 wow fadeInLeft" data-wow-delay="0.2s" >
                    <div class="single-counter">
                      <span class="counter odometer"  data-count="4.05"></span>
                      <p class="icon">+</p>
                    </div>
                    <div class="pera-count">
                      <p class="pera">Years in the industry</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
                  <div class="single mb-24 wow fadeInLeft" data-wow-delay="0.4s">
                    <div class="single-counter">
                      <span class="counter odometer"  data-count="1300"></span>
                      <p class="icon">+</p>
                    </div>
                    <div class="pera-count ">
                      <p>Employees working</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
                  <div class="single mb-24 wow fadeInLeft" data-wow-delay="0.6s">
                    <div class="single-counter">
                      <span class="counter odometer"  data-count="20"></span>
                      <p class="icon">K</p>
                    </div>
                    <div class="pera-count">
                      <p>Active registered users</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Count Down E n d -->
          </div>
          <div class="col-xxl-6 col-xl-5 col-lg-7 ">
            <div class="hero-man d-none d-lg-block f-right" >
              <img src="assets/hero/aboutHero.png" alt="images" class="tilt-effect " data-animation="fadeInRight" data-delay="0.3s">
            </div>
          </div>
        </div>
        <!-- Search Box -->
      </div>
    </div>
  </div>
</div>

<div class="storyArewa ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-xl-7 col-lg-8 col-md-9 col-sm-10">
        <div class="section-tittle section-tittle6 text-center mb-90">
          <h2 class="tittle">Our story <span class="lineBrack"></span> started in 2022</h2>
          <p>I found a 2007 study on effects of hand sanitizers on blood alcohol level in adults. The 12 subjects applied 4 mL of hand sanitizer for 30 seconds per application, 20 applications over a 30 min period (total exposure time 10 min).</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="aboutArea section-padding2 sectionBg3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-5 position-relative">
        <!-- about-img -->
        <div class="aboutImg aboutImg5 tilt-effect mr-40">
          <img src="assets/gallery/about5.png" alt="images" class="bouncingAnimations">
        </div>
      </div>
      <div class="col-xxl-5 col-xl-7 col-lg-6 col-md-7">
        <div class="about-caption m-0">
          <div class="row justify-content-center">
            <div class="section-tittle section-tittle6 m-0">
              <h2 class="tittle p-0">We’re working to make the world a better place </h2>
              <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="aboutArea plr bottom-padding2 section-padding plr">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-xxl-7 col-xl-8 col-lg-10">
        <div class="wantWorking sectionBg3 text-center">
          <div class="section-tittle mb-20">
            <h2 class="tittle wow fadeInUp" data-wow-delay="0.0s">Want to work in a great, growing positive environment?</h2>
          </div>
          <div class="btn-wrapper">
            <a href="login.html" class="cmn-btn3 mb-10 wow fadeInRight" data-wow-delay="0.1s">Join us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>