<div>
  <div class="bradcam_area bradcam_bg_2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h3></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-30 mb-30">
    <div class="col-8 offset-2" v-if="this.$route.query.locale === 'en'">
      <div class="en">
        <h2>Terms and conditions</h2>

        <p>This page describes the terms and conditions by which zajelbook.com allows you to access and use the zajelbook.com Web Site or Mobile Application. By using the Web Site or Mobile Application, you, as a user, accept and agree to be bound by these Terms and Conditions.</p>
        <p>
          Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the http://zajelbook.com Web Site or Mobile Application (the “Service”) operated by zajelbook.com (“us”, “we”, or “our”). If you do not accept the Terms and Conditions stated here, do not use the service.
        <p>
          These Terms apply to all visitors, users, and others who access or use the Service.
        <h3>Provided Information</h3>
        <p>
          When you create an account with us as an opportunity seeker or opportunity provider, you must provide us information that is current, accurate, and complete. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
        <h3>
          Registration and Password
        </h3>
        <p>
          You are responsible for maintaining the confidentiality of your information and password. You shall be responsible for all activities that occur under your user, regardless of whether they are authorized by you. You agree to immediately notify us of any unauthorized use of your registration or password. zajelbook.com will not be liable for any losses or damages arising from the unauthorized use of your registration or password.
        <p>
          You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.
        <p>
          You agree not to disclose your password to any third party. You must notify us immediately after becoming aware of any breach of security or unauthorized use of your account.
        <p>
          As part of your registration you will be asked to share with zajelbook.com certain information about yourself, including, without limitation, a valid e-mail address.
        <p>
          zajelbook.com will not disclose to any third party your name, e-mail address or telephone number, except to the extent required by applicable laws or in legal proceedings.
        <h3>
          Use of Materials
        </h3>
        <p>
          Only you may use the Web Site or Mobile Application and you may not rent, lease, lend, sub-license or transfer the Web Site or Mobile Application or any data residing on it or any of your rights under this agreement to anyone else. You may not develop or derive for commercial sale any data in machine-readable or other forms that incorporates or uses any substantial part of the Web Site or Mobile Application. You may not transfer or store any data residing or exchanged in the Web Site or Mobile Application to any electronic network for use by more than one user unless you obtain prior written permission from zajelbook.com.
        <p>
          You must retain all copyright, trademark, service-mark, and other proprietary notices contained in the original Material on any copy you make of the Material. Except as otherwise expressly provided, you may not sell, modify, reproduce, copy, display, perform, distribute, transfer, use, publish, license or create derivative works from any Material or content contained in the Web Site or Mobile Application. The use of the Material on any other Web Site or Mobile Application or in a networked computer environment for any purpose is prohibited. You shall not copy or adapt the HTML code that zajelbook.com creates to generate its pages. It is protected by Jordan and foreign copyright laws.
        <p>
          zajelbook.com may revise these Terms and Conditions at any time by updating this posting. You should visit this page periodically to review the Terms and Conditions. We aim to be open to all our registered users about any upcoming changes at all times.

        <h3>
          License
        </h3>
        <p>By submitting content to any public or non-public area of the Web Site or Mobile Application, including opportunities, message boards, forums and contests, you grant zajelbook.com the royalty-free, perpetual, irrevocable, sub-licensable, non-exclusive right (including any moral rights) and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, communicate to the public, perform and display the content (in whole or in part) worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed, for the full term of any rights that may exist in such content.
        <p>
          You also warrant that the holder of any rights, including moral rights in such content, has completely and effectively waived all such rights and validity and irrevocably granted to you the right to grant the license stated above. You also permit any subscriber to access, display, view, store and reproduce such content for personal use. Subject to the foregoing, the owner of such content placed on the Web Site or Mobile Application retains any and all rights that may exist in such content.

        <h3>
          Specific Prohibited Uses
        </h3>
        <p>
          The Web Site or Mobile Application may be used only for lawful purposes by individuals seeking educational and skill development and career information, and opportunity providers seeking candidates and participants.
        <p>
          You represent, warrant and agree that you will not use (or plan, encourage or help others to use) the Web Site or Mobile Application for any purpose or in any manner that is prohibited by these terms, conditions and notices or by applicable law (including but not limited to any applicable export controls).

        <p>
          You may not post discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive content via the Service.

        <p>
          You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information via the Service, including, without limitation, your or any other person's credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses.

        <p>
          You may not use the Service for any illegal or unauthorized purpose. You agree to comply with all laws, rules and regulations (for example, federal, state, local and provincial) applicable to your use of the Service and your Content (defined below), including but not limited to, copyright laws.

        <h3>
          Monitoring
        </h3>
        <p>
          zajelbook.com distributes the publication of user-submitted material and has no obligation to screen or monitor said material. However, we strive to monitor all information to ensure accuracy, reliability and completeness.
        <p>
          If notified by a user of material which allegedly does not conform to these Terms and Conditions, zajelbook.com may investigate the allegation and determine in good faith and at its sole discretion whether to remove or request the removal of the material.
        <p>
          zajelbook.com has no liability or responsibility to users for performance or nonperformance of such activities. zajelbook.com reserves the right to
          (a) Expel users and prevent their further access to the Web Site or Mobile Application for violating these Terms and Conditions or the law
          (b) Remove communication that is abusive, illegal, or disruptive
          (c) Take any action with respect to user-submitted material that it deems necessary or appropriate at its sole discretion we believe it may create liability for zajelbook.com or may cause zajelbook.com to lose (in whole or in part) the services of its ISPs or other suppliers.

        <h3>
          Links to other Web Site or Mobile Applications
        </h3>
        <p>
          Our Service may contain links to third-party Web Site or Mobile Applications or services that are not owned or controlled by zajelbook.com. zajelbook.com provides these links only as a convenience to you and does not endorse, and is not responsible for, the contents on such linked Web Site or Mobile Applications. zajelbook.com is not responsible for any viruses accesses through said third-parties. If you decide to access linked third-party Web Site or Mobile Applications, you do so at your own risk. We strongly advise you to read the terms and conditions and privacy policies of any third-party Web Site or Mobile Applications or services that you visit.

        <h3>
          Termination and Equitable Relief
        </h3>
        <p>
          In the event of any breach by you of these Terms and Conditions or if the platform is unable to verify or authenticate any information you submit, the platform may, at its sole discretion, pursue all of its legal remedies, including, but not limited to, deletion of your postings from the Web Site or Mobile Application and/or immediate termination of your registration or ability to access the Web Site or Mobile Application or any other service provided to you by the platform. The platform shall have the right to terminate your ability to access the Web Site or Mobile Application at any time without notice and to discontinue or modify any of the information contained on the Web Site or Mobile Application, or the Web Site or Mobile Application itself, at any time. Given the nature of these Terms and Conditions, you understand and agree that, in addition to money damages, the platform will be entitled to equitable relief upon a breach of them by you.

        <h3>
          Indemnity
        </h3>
        <p>
          You agree to defend, indemnify, and hold harmless the platform, its officers, directors, employees and agents, from and against any claims, actions or demands, including without limitation reasonable legal and accounting fees, alleging or resulting from your use of the Material or your breach of the terms of these Terms and Conditions or your representations and warranties or your violation of any rights of third parties, including without limitation, any proprietary or intellectual property rights.
        </p>
      </div>
    </div>

    <div class="col-8 offset-2" v-else-if="this.$route.query.locale === 'ar'">
      <div class="ar">
        <h2>شروط وأحكام استخدام موقع زاجل</h2>
        <p>
          التالي، يقدم لك الشروط و القيود التي يسمح وفقها موقع زاجل لك بالدخول إلى موقع زاجل او تطبيقات الهاتف الخاصة به (المشار إليه بالموقع). بإستخدامك للموقع او تطبيقات الهاتف الخاصة به (المشار إليك بالمستخدم)، تقر و توافق على تقيدك بهذه الشروط و القيود. يرجى قراءة هذه الصفحة بتمعن و إنتباه. إذا لم توافق على الشروط و القيود، يرجى عدم إستخدامك للموقع او تطبيقات الهاتف. تستخدم التعابير التالية (أنت والمستخدم) للإشارة إلى جميع الأفراد و/ أو الشركات التي تدخل الموقع او تطبيق الهاتف لأي غرض.
        <h3>
          شروط استخدام المواد و الموقع او تطبيق الهاتف
        </h3>
        <p>
          بخولك الموقع او تطبيق الهاتف بمشاهدة نسخة من المادة المنشورة على الموقع او تطبيق الهاتف لإستخدامك الخاص فقط و ليس للأغراض التجارية. هذه الإيجازة بإستخدام الموقع او تطبيق الهاتف لا تعتبر بيع لأي حق من حقوق المالك. يسمح إستخدام الموقع او تطبيق الهاتف من جهتك فقط و لا يمكنك أن تقوم أو بإستئجار أو بتأجير أو إعارة أو تحويل الموقع او تطبيق الهاتف أو أي من المعلومات التي يحتوي عليها أو أي حق من حقوقك المنصوص عليها في هذا الإتفاق لأي جهة آخرى. لا يسمح لك تحويل أي جزء من المعلومات التي توجد في الموقع او تطبيق الهاتف أو تلك التي تتم مدولتها في الموقع او تطبيق الهاتف ولا يحق لك تخزينها إلا بعد حصولك على إذن مكتوب من الموقع او تطبيق الهاتف.
        <p>
          قد يراجع الموقع او تطبيق الهاتف هذه الشروط و القيود في أي وقت عند تحديث هذا الإشعار. عليك زيارة هذه الصفحة بشكل دوري لقراءة الشروط و القيود لحكمها إستخدامك للموقع.
        <h3>
          ترخيص
        </h3>
        <p>
          بنشرك أي محتوى على الموقع او تطبيق الهاتف، ستقوم بمنح الموقع او تطبيق الهاتف و الجهات التابعة لها الحق الكامل و الحصري لإستخدام، إعادة إنتاج، تعديل، تبني، نشر، ترجمة، إنتاج إعمال مشتقة منها، توزيعها على العامة و عرض المحتوى كله أو جزء منه دوليا و/ أو ضمه لأعمال آخرى بأي شكل من الأشكال سواء أكان ذلك في الإعلام أو في بإستخدام وسيلة تكنولوجية معروفة الآن أو آخرى تم تطويرها في المستقبل للمدة الكاملة لأي من الحق التي يحتويها ذلك المحتوى. أنت تضمن تنازل الشخص الذي يملك أية حقوق تشمل الحقوق الأخلاقية في محتوى ما بشكل كامل و فعال عنها. ستسمح لأي مشترك آخر بالدخول إلى، عرض، تخزين و إعادة إنتاج أي محتوى للإستخدام الخاص. يخضع إحتفاط مالك المحتوى المنشور على الموقع او تطبيق الهاتف لجميع الحقوق التي توجد في ذلك المحتوى.
        <h3>
          قواعد أمن الموقع او تطبيق الهاتف
        </h3>
        <p>
          يمنع المستخدمين من القيام بخرق أو محاولة خرق أمن هذا الموقع او تطبيق الهاتف و التي تشمل دون إستثناء: أ) الدخول إلى معلومات غير مخصصة للمستخدم أو الدخول إلى خادم أو حساب لا يسمح للمستخدم الدخول إليه؛ ب) محاولة كشف، مسح أو إختبار ضعف النظام أو الشبكة أو لخرق النظام الأمني معايير التحقق من دون التصريح المناسب؛ ج) محاولة التدخل بالخدمة لأي مستخدم من خلال إرسال البريد الغير مرغوب به أو لغم الموقع او تطبيق الهاتف بالفيروسات وغيرها من أساليب؛ د) إرسال رسائل إلكترونية غير مرغوب بها تتضمن إعلانات لبعض المنتجات و للترويج لها؛ ه) تزوير إي من برتوكول أو أي جزء من المعلومات في البريد إلكتروني.TCP/IP
        <p>
          قد تؤدي خروقات النظام أو النظام الأمني للشبكة إلى تجريم الفاعل مدنيا. ستتحقق الموقع او تطبيق الهاتف من خروقات كهذة بالتعاون مع السلطات و الأجهزة الأمنية المعنية في مقاضاة المستخدمين الذين أقدموا على أرتكاب أفعال كهذه.
        <h3>
          معلومات المستخدم
        </h3>
        <p>
          سيطلب منك كجزء من تسجيلك على الموقع او تطبيق الهاتف تزويد الموقع او تطبيق الهاتف بمعلومات معينة عنك و التي تضمن دون إستثناء بريدك الإلكتروني (معلوماتك). توافق أيضا على قيام الموقع او تطبيق الهاتف بمشاركة معلومات إجمالية متوفرة في طلب تسجيلك على أساس مجهول المصدر حيث لن يقوم الموقع او تطبيق الهاتف بالإفصاح عن إسمك، عنوانك، عنوان بريدك الإلكتروني أو رقم هاتفك دون موافقتك المسبقة. يحتفظ الموقع او تطبيق الهاتف بحقها بتقديم خدماتها و منتجاتها لك و للجهات الآخرى بناء على التفضيلات التي إخترتها خلال تسجيلك و في أي وقت بعده و التي تشمل العروض التي بقدمها الموقع او تطبيق الهاتف و أو الجهات الآخرى.
        <h3>
          المراقبة
        </h3>
        <p>
          سيكون للموقع دورا سلبيا في توزيع المنشورات التي يقدمها المستخدم و لن تقوم بمراقبة تلك المواد. إذا تم لفت إنتباه الموقع او تطبيق الهاتف من قبل مستخدم يزعم وجود مواد لا تتماشى مع هذه الشروط و القيود، قد يتحقق الموقع او تطبيق الهاتف من صحة هذه المزاعم و ستقوم بحسن نية إتخاذ قرار يقضي بحذف تلك المادة أو المطالبة بحذفها. لا يتحمل الموقع او تطبيق الهاتف مسؤولية تلك الأعمال التي يقوم بها مرتكبيها تجاه المستخدمين الآخرين. يحتفظ الموقع او تطبيق الهاتف بحقها في أ) طرد المستخدمين و منعهم من الدخول للموقع عند خرق هذه الشروط و القيود أو القانون،ب) حذف المشاركات الغير قانونية و الخادشة للخلق العام و تلك التي تهدف لأثارة الفوضى، أو ج) إتخاذ إجراء ضروري بخصوص مادة قام بنشرها مستخدم ما و رأى الموقع او تطبيق الهاتف أن تلك المادة قد تعرضها إلى المسألة أو قد تؤدي إلى خسارة الموقع او تطبيق الهاتف جزء من أو كل الخدمات التي تحصل عليها من مزودي خدمة الإنترنت أو غيرهم من مزودين.
        <h3>
          الروابط للمواقع الآخرى
        </h3>
        <p>
          يحتوي الموقع او تطبيق الهاتف على وصلات لمواقع آخرى. يقوم الموقع او تطبيق الهاتف بتوفير هذه الوصلات لراحتكم و لا تدعم و لا تتحمل مسؤولية المواد التي تحتويها هذه الوصلات. لا يتحمل الموقع او تطبيق الهاتف مسؤولية الفايروسات التي قد تتسلل من خلال تلك المواقع. ستتحمل مسؤولية قرارك في دخولك إلى المواقع الآخرى عبر تلك الوصلات.
        <h3>
          التسجيل و كلمة السر
        </h3>
        <p>
          تتحمل مسؤولية الحفاظ على سرية معلوماتك و كلمة سرك. ستتحمل نتائج كافة الإستخدمات و النشاطات التي تنجم عن إستخدام كلمة سرك بغض النظر فيما إذا كانت مرخصة من قبلك. توافق على إعلام الموقع او تطبيق الهاتف على الفور في حال إستخدام كلمة سرك أو تسجيلك بشكل غير مرخص. لن يتحمل الموقع او تطبيق الهاتف مسؤولية ضياع أو خراب يطرأ نتيجة الإستخدام الغير مرخص لكلمة سرك و تسجيلك.
        <h3>
          الإبطال و التعويض المنصف
        </h3>
        <p>
          في حالة خرقك لأي مادة أو لم يكن الموقع او تطبيق الهاتف قادر على التحقق و إثبات صحة أي معلومات قدمتها، قد يقوم الموقع او تطبيق الهاتف بمتابعة جميع حلولها القانونية و التي تشمل دون إستثناء حذف الكتب المدرجة من الموقع او تطبيق الهاتف و/ أو الإبطال الفوري لتسجيلك أو قدرتك على الدخول إلى الموقع او تطبيق الهاتف أو أية خدمة آخرى يقدمها الموقع او تطبيق الهاتف لك. سيمتلك الموقع او تطبيق الهاتف حق إبطال دخولك للموقع في أي وقت دون أي إنذار مسبق و وقف متابعة أو تعديل المعلومات التي يحتويها الموقع او تطبيق الهاتف أو الموقع او تطبيق الهاتف نفسه في أي وقت. توافق على أحقية الموقع او تطبيق الهاتف في الحصول على تعويض منصف بالإضافة إلى الضرر المالي في حال حدوث خرق من جهتك للموقع.
        <h3>
          التعويض
        </h3>
        <p>
          أنت موافق على الدفاع عن و تعويض الموقع او تطبيق الهاتف و موظفيه الإدرايين و أعضاء مجلس إدارته و موظفيه و وكلائه  من أي إدعاءات أو مطالب تشمل دون إستثناء تكاليف الإجرءات القانونية و تكاليف المحاسبة التي نتجت عن عن إستخدامك للمادة أو خرقك لهذه الشروط و القيود أو لضمناتك و أو أي حق من حقوق الأطرف الآخرى و التي تشمل حقوق المالك و الملكية الفكرية.
        </p>
      </div>
    </div>
  </div>
</div>
