
/* 1. Theme default css */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

// color: var(--main-color-one);
:root {
  --main-color-one: #F76631;
  --main-color-two: #524EB7;
  --main-color-three: #FCDA69;

  --heading-color: #333333;

  --secondary-color: #FBA260;
  --bg-light-one: #F5F9FE;
  --bg-light-two: #FEF8F3;
  --bg-dark-one: #040A1B;
  --bg-dark-two: #22253F;

  
  --paragraph-color: #667085;
  --paragraph-color-two: #475467;
  --paragraph-color-three: #D0D5DD;
  --paragraph-color-four: #344054;
  
  --heading-font: 'Ubuntu', sans-serif;
  --body-font: 'Source Sans Pro', sans-serif;
}


html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: var(--body-font);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -webkit-font-smoothing: antialiased;
  /* WebKit  */
}

body {
  margin: 0;
  color: var(--paragraph-color);
  overflow-x: hidden;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
}

/*-- Margin Bottom --*/
  @for $i from 1 through 40 {
    .mb-#{5 * $i}{margin-bottom: 5px *$i;}
  }

/*-- Margin Left --*/
  @for $i from 1 through 40 {
    .ml-#{5 * $i}{margin-left: 5px * $i;}
  }

/*-- Margin Right --*/
  @for $i from 1 through 40 {
    .mr-#{5 * $i}{margin-right: 5px *$i;}
  }

/*-- Padding Top --*/
@for $i from 1 through 40 {
  .pt-#{5 * $i}{padding-top: 5px *$i;}
}

/*-- Padding Bottom --*/
  @for $i from 1 through 40 {
    .pb-#{5 * $i}{padding-bottom: 5px *$i;}
  }

/*-- Padding Left --*/
  @for $i from 1 through 40 {
    .pl-#{5 * $i}{padding-left: 5px *$i;}
  }

/*-- Padding Right --*/
  @for $i from 1 through 40 {
    .pr-#{5 * $i}{padding-right: 5px *$i;}
  }

/*-- Margin Top --*/
  @for $i from 1 through 40 {
    .mt-#{5 * $i}{margin-top: 5px * $i;}
  }
  .mb-24{
    margin-bottom: 24px;
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
  margin-bottom: 0px;
  font-weight: 500;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

p {
  color: var(--paragraph-color);
  font-family: var(--body-font);
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-height: 1.6;
  margin-bottom: 0px;
  font-weight: 400;
}

a,
.button {
	@include transition(.3s);
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a{
	color: rgb(99, 92, 92);
	text-decoration: none;
}

a:focus,
a:active,
a:hover{
  color: var(--main-color-one);
}

.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
.clear{
    clear: both;
}


pre {
  margin-top: 15px;
  background-color: whitesmoke;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f5f5f5), color-stop(50%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
  background-image: linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
  background-size: 38px 38px;
  border: 1px solid #d4d4d4;
  display: block;
  line-height: 19px;
  margin-bottom: 20px;
  overflow: visible;
  overflow-y: hidden;
  padding: 0 0 0 4px;
  word-break: break-word;
}

a i {
  padding: 0 2px;
}

img {
  max-width: 100%;
  height: auto;
}

ol:not([class]) {
  margin-bottom: 20px;
}

ol:not([class]) ol {
  margin-bottom: 0px;
}

ul ol:not([class]) {
  margin-bottom: 0px;
}

dl,
ol,
ul {
  padding-left: 0px;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}

hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}

input:focus::-moz-placeholder {
	opacity: 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

/*input and button type focus outline disable*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
}

code {
  color: #faa603;
}

.check-list-02 {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    padding-left: 20px;
    position: relative;
    z-index: 0;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      font-family: "Font Awesome 5 Free";
      content: "\f00c";
      color: var(--main-color-one);
    }
  }
}

.check-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    padding-left: 20px;
    position: relative;
    z-index: 0;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      font-family: "Font Awesome 5 Free";
      content: "\f105";
      color: var(--main-color-one);
    }
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  clear: both;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
  text-align: center;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  color: #fff;
  transition: .3s ease-in;
  border: 1px solid #e2e2e2;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  width: 50%;
  border: 1px solid #e2e2e2;
  text-align: center;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  color: #fff;
  transition: .3s ease-in;
}

.comment-navigation .nav-previous>a,
.posts-navigation .nav-previous>a,
.post-navigation .nav-previous>a,
.comment-navigation .nav-next>a,
.posts-navigation .nav-next>a,
.post-navigation .nav-next>a {
  transition: .3s ease-in;
  color: var(--paragraph-color);
}

.comment-navigation .nav-previous:hover,
.posts-navigation .nav-previous:hover,
.post-navigation .nav-previous:hover,
.comment-navigation .nav-next:hover,
.posts-navigation .nav-next:hover,
.post-navigation .nav-next:hover {
  background-color: var(--main-color-one);
  color: #fff;

}

.comment-navigation .nav-previous:hover>a,
.posts-navigation .nav-previous:hover>a,
.post-navigation .nav-previous:hover>a,
.comment-navigation .nav-next:hover>a,
.posts-navigation .nav-next:hover>a,
.post-navigation .nav-next:hover>a {
  color: #fff;
}


.messageBox .nicescroll-cursors {
	background-color: var(--main-color-two) !important;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
  outline: 0;
}


/*--------------------------------------------------------------
# Height & Width
--------------------------------------------------------------*/
.h-100 {
  height: 100%;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.aligncenter,
.alignleft,
.alignright {
  display: block;
  margin: 1.5rem auto;
  clear: both;
}

.alignleft {
  float: left;
  margin-right: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
}

.aligncenter {
  display: block;
}

.alignnone {
  margin: 1.75em auto 1.75em;
}

.alignfull {
  margin: 1.5em 0;
  max-width: 100%;
}

.alignwide {
  max-width: 1100px;
}

.alignnone {
  height: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */

.custom-logo-link {
  display: inline-block;
}

/*----------------------------------------
    # Unit test
------------------------------------------*/

.wp-link-pages {
  margin-bottom: 30px;
  margin-top: 25px;

  a {
    margin: 0 5px;
    transition: .3s ease-in;
    border: 1px solid #e2e2e2;
    padding: 5px 15px;
    display: inline-block;

    &:hover {
      background-color: var(--main-color-one);
      color: #fff;
      border-color: var(--main-color-one);
    }
  }

  span {
    border: 1px solid #e2e2e2;
    padding: 5px 15px;
    display: inline-block;

    &:first-child {
      margin-right: 5px;
    }
  }

  .current {
    background-color: var(--main-color-one);
    color: #fff;
    border-color: var(--main-color-one);
  }
}


//Post Password Form

.post-password-form {
  input {
    display: block;
    border: 1px solid #e2e2e2;
    height: 50px;
    border-radius: 3px;
    padding: 0 20px;
  }

  label {
    font-weight: 600;
    color: #333;
  }

  input[type=submit] {
    width: 100px;
    height: 50px;
    background-color: var(--main-color-one);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in;
    display: inline-block;

    &:hover {
      background-color: #121A2F;
    }
  }
}
.breadcrumb > .active {
  color: #888;
}


.footer-widget .table td,
.footer-widget .table th {
  padding: 0.50rem !important;
}

// search popup css

.search-popup {
  &.show {
    position: relative;
    z-index: 9;

    .search-popup-inner {
      visibility: visible;
      opacity: 1;

      form {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .search-popup-inner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.08s;

    form {
      position: absolute;
      padding: 120px 40px;
      width: 35%;
      background-color: #fff;
      @include flexbox();
      top: 55%;
      transform: translateY(-50%);
      transition: all linear 0.2s;

      .search-popup-close-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background-color: #dc3545;
        text-align: center;
        line-height: 30px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;

      }

      .form-group {
        margin-bottom: 0;
        width: 100%;

        input {
          height: 50px;
        }
      }

      .search-btn {
        display: inline-block;
        border: none;
        height: 50px;
        width: 70px;
        border-radius: 3px;
        color: #fff;
        background-color: var(--main-color-two);
        transition: .3s all;
        margin-left: 18px;

        i {
          display: block;
        }
      }
    }
  }
}

.info {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.title {
  color: var(--heading-color);
}

// custom bg color

.dark-bg-01 {
  background-color: var(--bg-dark-one);
}

.dark-bg-02 {
  background-color: var(--bg-dark-two);
}

.light-bg-01 {
  background-color: #FFF8F2;
}

.light-bg-02 {
  background-color: #FEF3F4;
}

.light-bg-03 {
  background-color: #F6F4FE;
}

.light-bg-04 {
  background-color: #F5F9FE;
}

.bg-color-a {
  background-color: #F7ECFE;
}

.bg-color-b {
  background-color: #FFEBE7;
}

.bg-color-c {
  background-color: #E5F8FB;
}

.bg-color-d {
  background-color: #EDEEF8;
}

.bg-color-e {
  background-color: #E3F2FC;
}

// custom color

.color-a {
  background-color: #BD63F9;
}

.color-b {
  background-color: #FC573B;
}

.color-c {
  background-color: #25C6DA;
}

.color-d {
  background-color: #6A75C4;
}

.color-e {
  background-color: #1491EA;
}


.border-radius-5 {
  border-radius: 5px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-none {
  border-radius: 0 !important;
}

// grid space control.

.four-column {
  .col-lg-3 {
    margin-top: 40px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 0;
    }
  }
}

.three-column {
  .col-lg-4 {
    margin-top: 50px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }
  }
}

.two-column {
  .col-lg-6 {
    margin-top: 40px;

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

.one-column {
  .col-lg-12 {
    margin-top: 50px;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

// font size

.font-size-16 {
  font-size: 16px !important;
  line-height: 26px !important;
}

.font-size-18 {
  font-size: 18px !important;
  line-height: 28px !important;
}

.font-size-20 {
  font-size: 20px !important;
  line-height: 30px !important;
}

.font-size-22 {
  font-size: 22px !important;
  line-height: 32px !important;
}

.font-size-24 {
  font-size: 24px !important;
  line-height: 34px !important;
}

.font-size-26 {
  font-size: 26px !important;
  line-height: 36px !important;
}

.font-size-32 {
  font-size: 32px !important;
  line-height: 42px !important;
}

.font-size-42 {
  font-size: 42px !important;
  line-height: 60px !important;
}


// font weight

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
} 


// background image 

.background-img {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}



.nice-select {
	line-height: 30px;
	border: 1px solid #eaeaea;
	height: 50px;
	width: 100%;
	color: #071112;
	font-weight: 500;
	text-transform: capitalize;
	padding-top: 10px;
	border-radius: 25px;
	&::after {
		border-bottom: 2px solid #a3a3a3;
		border-right: 2px solid #a3a3a3;
		height: 7px;
		right: 41px;
		width: 7px;
	}
	.list {
		width: 100%;
		border-radius: 0;
	}
	&.open .list {
		width: 100%;
		border-radius: 0;
	}
	.option {
		color: #071112;
	}
	&::placeholder{
		color: #5E5E5E;
		font-size: 16px;
		font-weight: 400;
	}
}
.inner-section-padding{
	padding-top: 80px;
	padding-bottom: 56px;
	@media #{$md}{
		padding-top: 80px;
		padding-bottom: 56px;
	}
	@media #{$sm}{
		padding-top: 80px;
		padding-bottom: 56px;
	}
	@media #{$xs}{
		padding-top: 115px;
		padding-bottom: 56px;
	}
}
.inner-section-padding2{
	padding-top: 80px;
	padding-bottom: 80px;
	@media #{$md}{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@media #{$sm}{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@media #{$xs}{
		padding-top: 115px;
		padding-bottom: 80px;
	}
}

/*-- Section Padding -- */
	// Section Padding
	.section-padding{
		padding-top: 110px;
		padding-bottom: 95px;
		@media #{$md}{
			padding-top: 70px;
			padding-bottom: 45px;
		}
		@media #{$sm}{
			padding-top: 70px;
			padding-bottom: 45px;
		}
		@media #{$xs}{
			padding-top: 70px;
			padding-bottom: 45px;
		}
	}
	.section-padding2{
		padding-top: 120px;
		padding-bottom: 120px;
		@media #{$md}{
			padding-top: 70px;
			padding-bottom: 70px;
		}
		@media #{$sm}{
			padding-top: 70px;
		padding-bottom: 70px;
		}
		@media #{$xs}{
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
	.top-padding{
		padding-top: 120px;
		@media #{$md}{
			padding-top: 100px;
		}
		@media #{$sm}{
			padding-top: 70px;
		}
		@media #{$xs}{
			padding-top: 70px;
		}
	}	
	.top-padding2{
		padding-top: 95px;
		@media #{$md}{
			padding-top: 70px;
		}
		@media #{$sm}{
			padding-top: 70px;
		}
		@media #{$xs}{
			padding-top: 70px;
		}
	}	
	.bottom-padding{
		padding-bottom: 120px;
		@media #{$md}{
			padding-bottom: 70px;
		}
		@media #{$sm}{
			padding-bottom: 70px;
		}
		@media #{$xs}{
			padding-bottom: 70px;
		}
	}	
	.bottom-padding2{
		padding-bottom: 95px;
		@media #{$md}{
			padding-bottom: 45px;
		}
		@media #{$sm}{
			padding-bottom: 45px;
		}
		@media #{$xs}{
			padding-bottom: 45px;
		}
	}	
	.footer-padding{
    padding-top: 100px;
    padding-bottom: 75px;
		// @media #{$md}{
		// 	padding-top: 100px;
		// 	padding-bottom: 20px;
		// }
		@media #{$sm}{
      padding-top: 55px;
      padding-bottom: 25px;
		}
		@media #{$xs}{
      padding-top: 55px;
      padding-bottom: 25px;
		}
	}

// section Tittle
.section-tittle{
	@media #{$xs}{
		margin-bottom: 40px;
	}
	@media #{$sm}{
		margin-bottom: 40px;
	}
	.tittle {
		color: var(--heading-color);
		font-family: var(--heading-font);
		font-size: 36px;
		display: block;
		font-weight: 500;
		line-height: 1.4;
		margin-bottom: 18px;
		padding-left: 12px;
		display: inline-block;
		position: relative;
		@media #{$md}{
			font-size: 36px !important;
		}
		@media #{$sm}{
			font-size: 31px !important;
		}
		@media #{$xs}{
			font-size: 24px !important;
		}
		// &.tittleFlex{
		// 	@include flexbox();
		// 	@include align-items(center);
		// 	position: relative;
		// }

		.shape{
			position: absolute;
			width: 72px;
			height: 50px;
			background: var(--main-color-three);
			z-index: -1;
			left: 0;
			top: 0;
			margin: 0;
			line-height: 1;
			@media #{$sm}{
				height: 45px;
			}
			@media #{$xs}{
				width: 57px;
				height: 34px;
			}
			
		}
		p{
			color: $font_color4;
		}
		.lineBrack{
			display: block;
			@media #{$xs}{
				display: none;
			}
		}
		& > span{
			color: var(--main-color-one);
			font-size: 82px;
		}
	}
	span{
		color: var(--main-color-two);
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		margin-bottom: 13px;
		
	}
	.pera{
		color: #5E5E5E;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		a{
			text-decoration: underline;
		}
	}
	&.section-tittle2{
		.tittle{
			font-size: 48px;
			line-height: 1.3;
			padding-left: 0;
		}
		p{
			color: $font_color1;
		}
	}
	&.section-tittle3{
		h2{
			font-size: 46px;
			line-height: 1.3;
		}
		.pera{
		}
	}
	&.section-tittle4{
		h2{
			color: var(--heading-color);
			font-size: 30px;
			margin-bottom: 30px;

			@media #{$sm}{
				font-size: 28px;
			}
			@media #{$xs}{
				font-size: 23px;
				line-height: 1.5;
			}
			br{
				@media #{$sm}{
					display: none;
				}
				@media #{$xs}{
					display: none;
				}
			}
		}
	}
	&.section-tittle5{
		span{
			color: var(--main-color-one);
		}
	}
	&.section-tittle6{
		.tittle{
			font-size: 64px;
			line-height: 1.1;
		}
	}
}

.small-tittle{
	@media #{$sm}{
		margin-bottom: 50px;
	}
	@media #{$xs}{
		margin-bottom: 50px;
	}
	h3 {
		font-family: var(--heading-font);
		color:var(--heading-color);
		font-size: 24px;
		display: block;
		font-weight: 500;
		line-height: 1.4;
		margin-bottom: 5px;

		@media #{$lg}{
			font-size: 25px;
		}
		@media #{$md}{
			font-size: 24px;
		}
		@media #{$sm}{
			font-size: 22px;
		}
		@media #{$xs}{
			font-size: 20px;
		}
	}
	p{
		font-family: var(--body-font);
		font-size: 15px;
		font-weight: 400;
		line-height: 1.5;

		a{
			text-decoration: underline;
		}
	}
	&.small-tittle2{
		h4 {
			color:var(--heading-color);
			font-size: 20px;
			font-weight: 700;
		}
		p{
			color:#66816A;
		}
	}
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
.tittleStyleTow{
	h3 {
		color:var(--heading-color);
		font-size: 20px;
		display:block;
		font-weight: 700;
		line-height: 1.4;
		margin-bottom: 16px;
		border-bottom: 1px solid $border-color;
		padding-bottom: 4px;
		@media #{$lg}{
			font-size: 20px;
		}
		position: relative;
		span{
			width: 20px;
			height: 1px;
			background: var(--main-color-one);
			display: inline-block;
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			margin-left: 10px;
			
		}
	}
	p{
		font-size: 15px;
		font-weight: 400;
		line-height: 1.5;

		a{
			text-decoration: underline;
		}
	}
}

.priceTittle{
    @include transition(.4s);
    font-family: var(--heading-font);
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
// info Tittle
.infoTitle2{
    font-family: var(--body-font);
    color: $font-color1;
    margin-bottom: 20px;
    font-size: 16px;
    display: block;
    .icon{
        margin-right: 8px;
        font-size: 25px;
        position: relative;
        top: 3px;
    }
}

// info Tittle
.infoTitle{
    font-family: var(--heading-font);
    color: var(--heading-color);
    margin-bottom: 11px;
    font-size: 16px;
	font-weight: 500;
    display: block;
}

.plr{
	padding-left: 135px;
	padding-right: 135px;
	@media #{$large1}{
		padding-left: 35px;
		padding-right: 35px;
	}
	@media #{$large2}{
		padding-left: 40px;
		padding-right: 40px;
	}
	@media #{$lg}{
		padding-left: 0px;
		padding-right: 0px;
	}
	@media #{$md}{
		padding-left: 0px;
		padding-right:0px;
	}
	@media #{$sm}{
		padding-left: 0px;
		padding-right: 0px;
	}
	@media #{$xs}{
		padding-left: 0px;
		padding-right: 0px;
	}


}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
	

.sectionImg-bg{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.sectionImg-bg2{
	background-size: 100% 100%;
	background-repeat: no-repeat !important;
	background-position: center center;
}



/*--------------------------------------------------------------
# Globals
--------------------------------------------------------------*/

.padding-left-0 {
	padding-left: 0;
  }
  
  .padding-right-0 {
	padding-left: 0;
  }
  
  .gray-bg {
	background-color: #f5f5f5;
  }
  
  .secondary-bg {
	background-color: var(--secondary-color);
  }
  
  //== padding classes
  .padding-x-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
  }
  
  .padding-y-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
  }
  
  .padding-top-0 {
	padding-top: 0px !important;
  }
  
  .padding-top-10 {
	padding-top: 10px;
  }
  
  .padding-top-20 {
	padding-top: 20px;
  }
  
  .padding-top-25 {
	padding-top: 25px;
  }
  
  .padding-top-30 {
	padding-top: 30px;
  }
  
  .padding-top-35 {
	padding-top: 35px;
  }
  
  .padding-top-40 {
	padding-top: 40px;
  }
  
  .padding-top-45 {
	padding-top: 45px;
  }
  
  .padding-top-55 {
	padding-top: 55px;
  }
  
  .padding-top-50 {
	padding-top: 50px;
  }
  
  .padding-top-60 {
	padding-top: 60px;
  }
  
  .padding-top-65 {
	padding-top: 65px;
  }
  
  .padding-top-70 {
	padding-top: 70px;
  }
  
  .padding-top-75 {
	padding-top: 75px;
  }
  
  .padding-top-80 {
	padding-top: 80px;
  }
  
  .padding-top-85 {
	padding-top: 85px;
  }
  
  .padding-top-90 {
	padding-top: 90px;
  }
  
  .padding-top-95 {
	padding-top: 95px;
  }
  
  .padding-top-100 {
	padding-top: 100px;
  }
  
  .padding-top-103 {
	padding-top: 103px;
  }
  
  .padding-top-105 {
	padding-top: 105px;
  }
  
  .padding-top-110 {
	padding-top: 110px;
  }
  
  .padding-top-115 {
	padding-top: 115px;
  }
  
  .padding-top-120 {
	padding-top: 120px;
  }
  
  .padding-top-140 {
	padding-top: 140px;
  }
  
  .padding-top-150 {
	padding-top: 150px;
  }
  
  .padding-top-160 {
	padding-top: 160px;
  }
  
  .padding-top-175 {
	padding-top: 175px;
  }
  
  .padding-top-180 {
	padding-top: 180px;
  }
  
  .padding-top-190 {
	padding-top: 190px;
  }
  
  .padding-top-210 {
	padding-top: 210px;
  }
  
  .padding-top-260 {
	padding-top: 260px;
  }
  
  .padding-top-390 {
	padding-top: 390px;
  }
  
  //==padding bottom
  .padding-bottom-10 {
	padding-bottom: 10px;
  }
  
  .padding-bottom-15 {
	padding-bottom: 15px;
  }
  
  .padding-bottom-20 {
	padding-bottom: 20px;
  }
  
  .padding-bottom-25 {
	padding-bottom: 25px;
  }
  
  .padding-bottom-30 {
	padding-bottom: 30px;
  }
  
  .padding-bottom-35 {
	padding-bottom: 35px;
  }
  
  .padding-bottom-40 {
	padding-bottom: 40px;
  }
  
  .padding-bottom-45 {
	padding-bottom: 45px;
  }
  
  .padding-bottom-50 {
	padding-bottom: 50px;
  }
  
  .padding-bottom-55 {
	padding-bottom: 55px;
  }
  
  .padding-bottom-60 {
	padding-bottom: 60px;
  }
  
  .padding-bottom-65 {
	padding-bottom: 65px;
  }
  
  .padding-bottom-70 {
	padding-bottom: 70px;
  }
  
  .padding-bottom-75 {
	padding-bottom: 75px;
  }
  
  .padding-bottom-80 {
	padding-bottom: 80px;
  }
  
  .padding-bottom-85 {
	padding-bottom: 85px;
  }
  
  .padding-bottom-90 {
	padding-bottom: 90px;
  }
  
  .padding-bottom-95 {
	padding-bottom: 95px;
  }
  
  .padding-bottom-100 {
	padding-bottom: 100px;
  }
  
  .padding-bottom-110 {
	padding-bottom: 110px;
  }
  
  .padding-bottom-105 {
	padding-bottom: 105px;
  }
  
  .padding-bottom-115 {
	padding-bottom: 115px;
  }
  
  .padding-bottom-120 {
	padding-bottom: 120px;
  }
  
  .padding-bottom-130 {
	padding-bottom: 130px;
  }
  
  .padding-bottom-140 {
	padding-bottom: 140px;
  }
  
  .padding-bottom-135 {
	padding-bottom: 135px;
  }
  
  .padding-bottom-190 {
	padding-bottom: 190px;
  }
  
  .padding-bottom-200 {
	padding-bottom: 200px;
  }
  
  .padding-bottom-227 {
	padding-bottom: 227px;
  }
  
  .padding-bottom-250 {
	padding-bottom: 280px;
  }
  
  .padding-bottom-285 {
	padding-bottom: 285px;
  }
  
  .padding-bottom-150 {
	padding-bottom: 150px;
  }
  
  .padding-bottom-160 {
	padding-bottom: 160px;
  }
  
  .padding-bottom-165 {
	padding-bottom: 165px;
  }
  
  .padding-bottom-170 {
	padding-bottom: 170px;
  }
  
  .padding-bottom-180 {
	padding-bottom: 180px;
  }
  
  .padding-bottom-215 {
	padding-bottom: 215px;
  }
  
  .padding-bottom-295 {
	padding-bottom: 295px;
  }
  
  .padding-bottom-300 {
	padding-bottom: 300px;
  }
  
  .padding-bottom-320 {
	padding-bottom: 320px;
  }
  
  .padding-bottom-460 {
	padding-bottom: 460px;
  }
  
  .margin-top-minus-90 {
	margin-top: -90px;
  }
  
  .margin-top-minus-100 {
	margin-top: -100px;
  }
  
  .margin-top-120 {
	margin-top: 120px;
  }
  
  .margin-top-150 {
	margin-top: 150px;
  }
  
  .margin-top-160 {
	margin-top: 160px;
  }
  
  //== padding both
  
  .padding-x-0 {
	padding-left: 0;
	padding-right: 0;
  }
  
  .padding-y-0 {
	padding-top: 0;
	padding-bottom: 0;
  }
  
  .padding-120 {
	padding-top: 120px;
	padding-bottom: 120px;
  }
  
  .padding-110 {
	padding-top: 110px;
	padding-bottom: 110px;
  }
  
  .padding-100 {
	padding-top: 100px;
	padding-bottom: 100px;
  }
  
  .padding-20 {
	padding-top: 20px;
	padding-bottom: 20px;
  }
  
  .padding-30 {
	padding-top: 30px;
	padding-bottom: 30px;
  }
  
  .padding-40 {
	padding-top: 40px;
	padding-bottom: 40px;
  }
  
  .padding-50 {
	padding-top: 50px;
	padding-bottom: 50px;
  }
  
  .padding-60 {
	padding-top: 60px;
	padding-bottom: 60px;
  }
  
  .padding-65 {
	padding-top: 65px;
	padding-bottom: 65px;
  }
  
  .padding-70 {
	padding-top: 70px;
	padding-bottom: 70px;
  }
  
  .padding-80 {
	padding-top: 80px;
	padding-bottom: 80px;
  }
  
  .padding-90 {
	padding-top: 90px;
	padding-bottom: 90px;
  }
  
  .padding-10 {
	padding-top: 10px;
	padding-bottom: 10px;
  }
  
  //== margin classes
  
  .margin-top-10 {
	margin-top: 10px;
  }
  
  .margin-top-15 {
	margin-top: 15px;
  }
  
  .margin-top-20 {
	margin-top: 20px;
  }
  
  .margin-top-30 {
	margin-top: 30px;
  }
  
  .margin-top-35 {
	margin-top: 35px;
  }
  
  .margin-top-40 {
	margin-top: 40px;
  }
  
  .margin-top-50 {
	margin-top: 50px;
  }
  
  .margin-top-55 {
	margin-top: 55px;
  }
  
  .margin-top-60 {
	margin-top: 60px;
  }
  
  .margin-top-70 {
	margin-top: 70px;
  }
  
  .margin-top-80 {
	margin-top: 80px;
  }
  
  .margin-top-90 {
	margin-top: 90px;
  }
  
  .margin-top-100 {
	margin-top: 100px;
  }
  
  //== margin bottom
  
  .margin-bottom-0 {
	margin-bottom: 0px !important;
  }
  
  .margin-bottom-10 {
	margin-bottom: 10px;
  }
  
  .margin-bottom-15 {
	margin-bottom: 15px;
  }
  
  .margin-bottom-20 {
	margin-bottom: 20px !important;
  }
  
  .margin-bottom-25 {
	margin-bottom: 25px;
  }
  
  .margin-bottom-30 {
	margin-bottom: 30px;
  }
  
  .margin-bottom-35 {
	margin-bottom: 35px;
  }
  
  .margin-bottom-40 {
	margin-bottom: 40px;
  }
  
  .margin-bottom-45 {
	margin-bottom: 45px;
  }
  
  .margin-bottom-50 {
	margin-bottom: 50px;
  }
  
  .margin-bottom-55 {
	margin-bottom: 55px;
  }
  
  .margin-bottom-60 {
	margin-bottom: 60px !important;
  }
  
  .margin-bottom-70 {
	margin-bottom: 70px;
  }
  
  .margin-bottom-80 {
	margin-bottom: 80px;
  }
  
  .margin-bottom-90 {
	margin-bottom: 90px;
  }
  
  .margin-bottom-100 {
	margin-bottom: 100px;
  }
  
  .margin-bottom-120 {
	margin-bottom: 120px;
  }
  
  .margin-bottom-150 {
	margin-bottom: 150px;
  }
  
  .margin-top-100 {
	margin-bottom: 100px;
  }
  
  .margin-top-120 {
	margin-top: 120px;
  }
  
  .min-height-600 {
	min-height: 600px;
  }
  
  .overflow-hidden {
	overflow: hidden;
  }


/*--------------------------------------------------------------
  ........................ Some Plugin style ................
--------------------------------------------------------------*/

/*-----------   Back To Top  --------*/
  @-webkit-keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
  }
  .progressParent {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px #d0d0d4;
  // box-shadow: inset 0 0 0 2px rgb(95 58 252 / 20%);

    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    &.rn-backto-top-active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    &::after {
        position: absolute;
        font-family: 'Line Awesome Free';
        content: "\f062";
    font-weight: 900;
        text-align: center;
        line-height: 46px;
        font-size: 20px;
        color: var(--main-color-one);

        left: 0;
        top: 0;
        height: 46px;
        width: 46px;
        cursor: pointer;
        display: block;
        z-index: 2;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    &:hover {
        &::after {
            color:var(--heading-color);
        }
    }
    &::before {
        position: absolute;
        font-family: 'Line Awesome Free';
        content: "\f062";
    font-weight: 900;
        text-align: center;
        line-height: 46px;
        font-size: 18px;

        opacity: 0;
        background: var(--main-color-one);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        left: 0;
        top: 0;
        height: 46px;
        width: 46px;
        cursor: pointer;
        display: block;
        z-index: 2;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
    svg {
        path {
            fill: none;
        }
        &.backCircle {
            path {
                stroke: var(--main-color-one);
                stroke-width: 4;
                box-sizing: border-box;
                -webkit-transition: all 200ms linear;
                transition: all 200ms linear;
            }
        }
    }
  }
  // end


/*---  Mouse Cursor   ----*/
  .mouseCursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
  }
  .cursorInner {
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    z-index: 10000001;
    background-color: var(--main-color-one);
    -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
    transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
  }
  .cursorInner.cursor-hover {
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background-color: var(--main-color-one);
    opacity: .1;
  }
  .cursorOuter {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--main-color-one);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000;
    opacity: .5;
    -webkit-transition: all .08s ease-out;
    transition: all .08s ease-out;
  }
  .cursorOuter.cursor-hover {
    opacity: 0;
  }
  .main-wrapper[data-magic-cursor="hide"] .mouseCursor {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1111;
  }

  // HOmeTow cursor color
  .homeTow{
    .cursorInner {
      background-color: var(--main-color-two);
    }
    .cursorInner.cursor-hover {
      background-color: var(--main-color-two);
    }
    .cursorOuter {
      border: 2px solid var(--main-color-two);
    }
  }


// Slick Global Arrow 
  .slider-inner-margin{
    .slick-slide {
      margin-left:12px;
      margin-right:12px;
    }
    .slick-list {
      margin-left:-12px;
      margin-right:-12px;
    }
  }
  .sliderArrow{
    .slick-arrow{

      border: 1px solid #EAECF0;
      @include transition(.3s);
      height: 52px;
      width: 52px;
      line-height: 52px;
      position: absolute;
      text-align: center;
      top: -93px;
      transform: translateY(-50%);
      right: 0;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
      i{
        color: #98A2B3;
        font-size: 24px;
        position: relative;
        top: 2px;
      }
      @media #{$sm}{
        top: -65px;
      }
      @media #{$xs}{
        height: 30px;
        width: 30px;
        line-height: 30px;
        top: -26px;
        i{
          font-size: 14px;
          top: -1px;
        }
      }
      &:hover {
        border: 1px solid var(--main-color-three);
        background: var(--main-color-three);
        i{
          color: var(--heading-color);
        }
      }
    }
    .prev-icon{
      right: 65px;
      @media #{$xs}{
        right: 37px;
      }
    }
    .next-icon{
      left: auto;
      right: 0px;
    }
  }
  // Arrow Style 02
  .arrowStyleTow{
    .slick-arrow{

      border: 1px solid #EAECF0;
      @include transition(.3s);
      height: 52px;
      width: 52px;
      line-height: 52px;
      position: absolute;
      text-align: center;
      top: -84px;
      transform: translateY(-50%);
      right: 0;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
      i{
        color: #98A2B3;
        font-size: 24px;
        position: relative;
        top: 2px;
      }
      @media #{$sm}{
        top: -65px;
      }
      @media #{$xs}{
        height: 30px;
        width: 30px;
        line-height: 30px;
        top: -26px;
        i{
          font-size: 14px;
          top: -1px;
        }
      }
      &:hover {
        border: 1px solid var(--main-color-three);
        background: var(--main-color-three);
        i{
          color: var(--heading-color);
        }
      }
    }
    .prev-icon{
      right: 65px;
      @media #{$xs}{
        right: 37px;
      }
    }
    .next-icon{
      left: auto;
      right: 0px;
    }
  }
  .slick-initialized .slick-slide {
    outline: 0;
  }


/* Sticky*/
  .sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow:0 10px 15px rgba(25, 25, 25, 0.1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow:0 10px 15px rgba(25, 25, 25, 0.1);
  }
/* Sticky end */

