
.browseCategory{
    .singleCategory {
        @include transition(.4s);
        border: 1px solid #EAECF0;
        background: none;
        text-align: center;
        padding: 30px 20px;
        border-radius: 20px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        .icon {
            font-size: 30px;
            color: #18A0FB;
        }
        .catContent {
            .title {
                
                color: var(--heading-color);
                font-family: var(--heading-font);
                @include transition(.4s);
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 7px;
                display: block;
                @include responsive(xxs) {
                    font-size: 22px;
                }
            }
            .para {
                font-family: var(--heading-font);
                font-size: 13px;
                color: $font-color1;
            }
        }
    }
}