
//currentlyAds
.currentlyAds{
    .singleAds{
        background: #FFFFFF;
        box-shadow: 0px 1px 80px 12px rgba(26, 40, 68, 0.06);
        padding: 20px;
        padding-bottom: 0;
        border-radius: 12px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        @include transition(.4s);
       
        cursor: pointer;
        @media #{$tab2}{
            @include flex-wrap(wrap);
        }
        .adsCap{
            @include flexbox();
            @include align-items(center);
            @include transition(.4s);
            margin-bottom: 20px;
            cursor: pointer;
                left: auto;
            @media #{$large1}{
                padding: 10px;
            }
            @media #{$tab}{
                @include flex-wrap(wrap);
                margin-bottom: 10px;
            }
            .adsImg{
                margin-right: 20px;
                @media #{$xs}{
                    margin-bottom:15px;
                }
                @media #{$large1}{
                    width: 29%;
                    margin-right: 9px;
                }
                
                img{
                    border-radius: 12px;
                    @media #{$large1}{
                        width: 100%;
                    }
                }
            }
            .adsCaption{
                .adsTittle {
                    
                    font-family: var(--heading-font);
                    margin-bottom: 9px;
                    line-height: 1.5;
                    color: var(--heading-color);
                    font-weight: 500;
                    font-size: 20px;
                    display: block;
                    &:hover{
                        color: var(--heading-color);
                    }
                    @media #{$large1}{
                        font-size: 15px;
                    }
                    @media #{$lg}{
                        font-size: 21px;
                    }
                    @media #{$md}{
                        font-size: 18px;
                    }
                    @media #{$xs}{
                        font-size: 18px;
                    }
                }
                .adsPera{
                    font-family: var(--heading-font);
                    font-size: 15px;
                    color: var(--heading-font);
                    margin-bottom: 20px;
                    @media #{$large1}{
                        font-size: 12px;
                        margin-bottom: 7px;
                    }
                    .subCap{
                        font-family: var(--heading-font);
                        font-family: var(--heading-font);
                        color: var(--main-color-two);
                        font-weight: 400;
    
                        @media #{$large1}{
                            font-size: 12px;
                            
                        }
                    }
                }
                .adsPricingWrapper {
                    @include flexbox();
                    @include align-items(center);
                    @include flex-wrap(wrap);
                    .adsPricing {
                        margin-bottom: 10px;
                        font-family: var(--heading-font);
                        color: var(--heading-color);
                        font-weight: 500;
                        font-size: 24px;
                        display: block;
                        margin-right: 15px;
                        @media #{$large1}{ 
                            font-size: 17px;
                            margin-bottom: 7px;
                        }
                    }
                    // DateTime
                    .adsDate{
                        margin-bottom: 10px;
                        .pera{
                            color: var(--heading-color);
                            // vertical-align: 21px;
                            margin-right: 10px;
                        }
                        .adsDateTime{
                            @include transition(.4s);
                            font-family:var(--heading-font);
                            border: 1px solid #D0D5DD;
                            color: $font_color1;
                            font-size: 15px;
                            font-weight: 500;
                            padding: 10px 15px !important;
                            text-align: center;
                            border-radius: 8px;
                            background: none;
                            &:hover{
                                color: var(--main-color-two);
                                border-color: var(--main-color-two);
                            }
                        }
                    }
                }
            }
        }
    }
}

//promote Ads
.promoteAds{
    .singlePromoteAds{
        background: #FFFFFF;
        box-shadow: 0px 1px 80px 12px rgba(26, 40, 68, 0.06);
        padding: 20px;
        padding-bottom: 0;
        border-radius: 12px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        @include transition(.4s);
       
        cursor: pointer;
        @media #{$tab2}{
            @include flex-wrap(wrap);
        }
        .adsCap{
            @include flexbox();
            @include align-items(center);
            @include transition(.4s);
            margin-bottom: 20px;
            cursor: pointer;
                left: auto;
            @media #{$large1}{
                padding: 10px;
            }
            @media #{$tab}{
                @include flex-wrap(wrap);
                margin-bottom: 10px;
            }
            .adsImg{
                margin-right: 20px;
                @media #{$xs}{
                    margin-bottom:15px;
                }
                @media #{$large1}{
                    width: 29%;
                    margin-right: 9px;
                }
                
                img{
                    border-radius: 12px;
                    @media #{$large1}{
                        width: 100%;
                    }
                }
            }
            .adsCaption{
                .adsTittle {
                    
                    font-family: var(--heading-font);
                    margin-bottom: 9px;
                    line-height: 1.5;
                    color: var(--heading-color);
                    font-weight: 500;
                    font-size: 20px;
                    display: block;
                    &:hover{
                        color: var(--heading-color);
                    }
                    @media #{$large1}{
                        font-size: 15px;
                    }
                    @media #{$lg}{
                        font-size: 21px;
                    }
                    @media #{$md}{
                        font-size: 18px;
                    }
                    @media #{$xs}{
                        font-size: 18px;
                    }
                }
                .adsPera{
                    font-family: var(--heading-font);
                    font-size: 15px;
                    color: var(--heading-font);
                    margin-bottom: 20px;
                    @media #{$large1}{
                        font-size: 12px;
                        margin-bottom: 7px;
                    }
                    .subCap{
                        font-family: var(--heading-font);
                        font-family: var(--heading-font);
                        color: var(--main-color-two);
                        font-weight: 400;
    
                        @media #{$large1}{
                            font-size: 12px;
                            
                        }
                    }
                }
                .adsPricing {
                    margin-bottom: 18px;
                    font-family: var(--heading-font);
                    color: var(--heading-color);
                    font-weight: 500;
                    font-size: 24px;
                    display: block;
                    @media #{$large1}{ 
                        font-size: 17px;
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
}


