.ourServices {
    .listing {
        @include flexbox();
        justify-content: flex-start;
        @include flex-wrap(wrap);

        .singleServices {
            border-bottom: 1px solid #EAECF0;;
            text-align: center;
            position: relative;
            padding:26px 20px 26px 20px;
            width: 20%;
            @media #{$lg}{
                width: 25%;
            }
            @media #{$md}{
                width: 33.33%;
            }
            @media #{$sm}{
                width: 50%;
            }
            @media #{$xs}{
                width: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                width: 1px;
                background-color: #EAECF0;
                height: 100%;
                transform: translateY(-50%);
                @media #{$xs}{
                    background-color: transparent;
                }
            }
            // Remove 5th border only big device
            &:nth-child(5){ 
                @media #{$tabX}{
                    &::after {
                        background-color: transparent;
                        width: 0;
                    }
                }
                @media #{$large1}{
                    &::after {
                        background-color: transparent;
                        width: 0;
                    }
                }
             }

            // Remove 6 border only big device
             @media #{$tabX}{
                &:nth-of-type(n+6) {
                    border: 0;
                 }
            }
            // lg device per 4 number border remove
            &:nth-of-type(4n) {
                @media #{$lg}{
                    &::after {
                        background-color: transparent;
                    }
                 }
            }
            &:nth-of-type(3n) {
                @media #{$md}{
                    &::after {
                        background-color: transparent;
                    }
                 }
            }
            &:nth-of-type(2n) {
                @media #{$sm}{
                    &::after {
                        background-color: transparent;
                    }
                 }
            }
            .serviceIcon {
                @include transition(.4s);
                text-align: center;
                margin-bottom: 19px;
                position: relative;
                top: 0;
            }
            .serviceCap {
                .title {
                    color: var(--heading-color);
                    font-size: 28px;
                    line-height: 1.4;
                    margin-bottom: 6px;
                    font-weight: 400;
                    display: block;

                    &:hover {
                        color: var(--main-color-one);
                    }
                }
                .info {
                    font-family:var(--heading-font);
                    font-size: 18px;
                    margin-bottom: 0px;
                }
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            &:hover{
                .serviceIcon {
                    top: -8px;
                }
            }
        }
    }

    &.index-02 {
        .listing {

            .singleServices {

                .servicIcon {
                    .icon {
                        color: var(--main-color-two) !important;
                    }
                }
                .serviceCap {
                    .title {
                        &:hover {
                            color: var(--hover-color-two);
                        }
                    }

                }
            }
        }
    }
}