@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
$la-font-path: 'assets';
@import 'line-awesome/dist/line-awesome/scss/line-awesome';
@import 'plugin';
@import 'main-style';
@import "loader";

.search-icon {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}