<div class="slider_area">
  <div class="single_slider  d-flex align-items-center slider_bg_1">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-10">
          <div class="slider_text text-center justify-content-center">
            <h3>Zajel - Book Sharing</h3>
            <a href="/books" class="genric-btn danger circle">Find Nearby Books</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
