<footer>
  <div class="footerWrapper footerStyleThree plr">
    <div class="footer-area footer-padding" >
      <div class="container-fluid">
        <div class="row justify-content-between">
          <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-8">
            <div class="footer-widget widget  mb-24">
              <div class="footer-tittle footer-tittle2">
                <div class="footer-logo mb-40">
                  <a href="index.html"><img src="assets/logo/h4FooterLogo.png" alt="images"></a>
                </div>
                <ul class="listing">
                  <li class="listItem wow fadeInUp" data-wow-delay="0.2s"><a href="#" class="singleLinks"><i class="las la-envelope icon"></i>zajelbooks@mail.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-2 col-lg-6 col-md-6 col-sm-6">
            <div class="footer-widget widget  mb-24">
              <div class="footer-tittle">
                <h4 class="footerTittle">Categories</h4>
                <ul class="listing">
                  <li class="listItem wow fadeInUp" data-wow-delay="0.0s"><a href="#" class="singleLinks"> Electronics</a></li>
                  <li class="listItem wow fadeInUp" data-wow-delay="0.1s"><a href="#" class="singleLinks"> Mobile</a></li>
                  <li class="listItem wow fadeInUp" data-wow-delay="0.1s"><a href="#" class="singleLinks"> Vehicles</a></li>
                  <li class="listItem wow fadeInUp" data-wow-delay="0.3s"><a href="#" class="singleLinks"> Appliances</a></li>
                  <li class="listItem wow fadeInUp" data-wow-delay="0.3s"><a href="#" class="singleLinks"> Fashions</a></li>
                  <li class="listItem wow fadeInUp" data-wow-delay="0.4s"><a href="#" class="singleLinks"> Eductation</a></li>
                  <li class="listItem wow fadeInUp" data-wow-delay="0.4s"><a href="#" class="singleLinks"> Property</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-2 col-lg-6 col-md-6 col-sm-6">
            <div class="footer-widget widget  mb-24">
              <div class="footer-tittle">
                <h4 class="footerTittle">About</h4>
                <ul class="listing">
                  <li  class="listItem wow fadeInUp" data-wow-delay="0.0s"><%= link_to 'About us', about_path, class: 'singleLinks' %></li>
                  <li  class="listItem wow fadeInUp" data-wow-delay="0.4s"><a href="#" class="singleLinks"> Terms & Conditions</a></li>
                  <li  class="listItem wow fadeInUp" data-wow-delay="0.4s"><a href="#" class="singleLinks"> Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-2 col-lg-6 col-md-6 col-sm-6">
            <div class="footer-widget widget  mb-24">
              <div class="footer-tittle">
                <h4 class="footerTittle">Help & support</h4>
                <ul class="listing">
                  <li  class="listItem wow fadeInUp" data-wow-delay="0.0s"><a href="#" class="singleLinks"> Contact</a></li>
                  <li  class="listItem wow fadeInUp" data-wow-delay="0.2s"><a href="#" class="singleLinks"> Faq</a></li>
                  <li  class="listItem wow fadeInUp" data-wow-delay="0.3s"><a href="#" class="singleLinks"> Safety Informations</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-6">
            <div class="footer-widget widget  mb-24">
              <div class="footer-tittle">
                <h4 class="footerTittle">Newsletter</h4>
                <div class="footer-pera footer-pera2">
                  <p  class="pera wow fadeInUp" data-wow-delay="0.0s">Be the first one to know  news, offers and events weekly in your. Unsubscribe whenever you like with one click.</p>
                </div>
              </div>
              <!-- Form -->
              <div class="footer-form mt-10 wow fadeInRight" data-wow-delay="0.1s">
                <div class="form-row mb-20">
                  <form class="newsletter-footer" target="_blank" action="#"  method="get">
                    <input class="input" type="email" name="email" placeholder="Your Email Address">
                    <div class="btn-wrapper form-icon">
                      <button class="btn-default btn-rounded" type="submit" name="submit"> Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
      <div class="container-fluid">
        <div class="footer-border">
          <div class="row">
            <div class="col-xl-12 ">
              <div class="footer-copy-right text-center">
                <p class="pera wow fadeInDown" data-wow-delay="0.0s"><%= t('.copyright', current_year: Date.current.year).html_safe %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
