<div class="loginArea section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5 p-0 loginLeft-img">
        <div class="loginLeft-img">
          <div class="login-cap">
            <h3 class="tittle">Borrow & Lend books</h3>
            <p class="pera">secondary text goes here.</p>
          </div>
          <div class="login-img">
            <img src="assets/img/gallery/login.png" alt="img" class="loginImg">
          </div>
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'col-xl-7 col-lg-7 login-Wrapper' }) do |f| %>
        <p class="mb-30"><%= t('.password_reset') %></p>

        <div class="row">
          <div class="col-md-12">
            <label class="infoTitle">Email</label>
            <div class="input-form">
              <%= f.email_field :email, placeholder: 'Enter your Email', autofocus: true, autocomplete: "Email", id: 'inputEmail', class: 'form-control', required: true %>
              <div class="icon"><i class="lar la-envelope icon"></i></div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="btn-wrapper text-center">
              <%= f.submit 'Send me reset password instructions', class: 'cmn-btn4 w-100 mb-60' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
